.chat-main_message_list
test2 
.chat-main
  .main-header
  .main-header__box
  .messages
  .chat-form
    %form.new_message
      .input-box
        %input{type:"text",class:"input-box__text",placeholder: "type a message"}
        %label{class: "input-box__image"}
          = icon('fas', 'image')
          %input{type: "file", class: "input-box__image__file"}
      %input{type: "submit",class: "submit-btn"}
      