.chat-main {
  width: calc(100vw - 300px);
  float: left;
  .main-header{
    height: 100px;
    padding: 0 40px;
    display: flex;
    justify-content: space-between;
    border-bottom: solid 1px #eee;
    // overflow: scroll;
    &__left-box{
      &__current-group {
        font-size: 20px;
        color: #333;
        margin-bottom: 20px;
        margin-top: 35px;
      }
      &__member-list {
        font-size: 12px;
        color: #999999;
        display: flex;
      }
    }
    &__edit-btn {
      height: 40px;
      line-height: 40px;
      padding: 0 20px;
      margin-top: 30px;
      border: solid 1px #38aef0;
      position: absolute;
      right: 40px;

       a{ 
         text-decoration: none;
      }
     }
   }
   .messages {
    background-color: #FAFAFA;
    box-sizing: border-box;
    padding: 46px 40px 0;
    height: calc(100vh - 100px - 90px);
    overflow: scroll;
    .message {
      .upper-message {
        display: flex;
        &__user-name {
          color: black;
          font-size: 16px;
          font-weight: bold;
        }
        &__date {
          color: light_gray;
          font-size: 12px;
          padding-left: 10px;
        }
      }
      .lower-message {
        margin-top: 10px;
        &__content {
          color: black;
          font-size: 14px;
          margin-bottom: 40px;
        }
      }
    }
  }
  


  .chat-form {
    height: 90px;
    background-color: #d2d2d2;
    padding-top: 20px;
    padding-left: 20px;

    form {
       display: flex;
       .input-box {
         position: relative;
         width: 90%;
         &__text {
           height: 50px;
           width: 99%;
           color: #434a54;
           border-style: none;
           padding: 0 0px 0 10px;
         }
         &__image{
           position: absolute;
           right: 20px;
           bottom: 12px;
           cursor: pointer;
           font-size: 1.3rem;

           &__file {
             display: none;
           }
         }
       }
      
      &__submit-btn {
        width: 100px;
        height: 50px;
        padding: 0 30px;
        margin-left: 15px;
        background-color: #38aef0;
        color: white;
        cursor: pointer;
      }
    }

    .input-box__text {
      height: 50px;
      width: 100%;
      margin-right: 6px;
      padding: 0 40px 0 10px;
      color: #434a54;
      border-style: none;
    }

    .submit-btn{
      width: 100px;
      height: 50px;
      padding: 0 30px;
      background-color: #38aef0;
      color: white;
      cursor: pointer;
    }
  }
}
