.chat-main {
  width: calc(100vw - 300px);
  float: left;
   .main-header{
    height: 98px;
    padding: 0 40px;
    display: flex;
    justify-content: space-between;
    border-bottom: solid 1px #eeeeee;
    overflow: scroll;
    
    }
  
  .main-header__left-box__current-group {
    font-size: 20px;
    color: #333;
    margin-bottom: 20px;
    margin-top: 35px;
  }

  .main-header__left-box__member-list {
    font-size: 15px;
    color: #999999;
    display: flex;
  }

   .main-header__edit-btn {
     height: 40px;
     line-height: 40px;
     padding: 0 20px;
     margin-top: 30px;
     border: solid 1px #38aef0;
     text-decoration: none;
     position: absolute;
     right: 40px;
  }

   

   
    .form {
      height: 50px;
      padding: 20px 40px;
      background-color: #ddd;
  }

   .messages {
    padding: 65px 100px;
    height: calc(82vh - 160px);
    background-color: #fafafa;
    overflow: scroll;
  }

   .chat-form {
     height: 50px;
     padding: 25px 60px;
     background-color: #ddd;
  
    
    form {
      display: flex;
      .input-box{
        display: flex;
        width: 100%;
      position: relative;
    
        &__image{
          position: absolute;
          top: 15px;
          right: 10px;
          cursor: pointer;
          font: size 1.3rem;

          &__file {
            display: none;
          }
        }
      }
    }

    .input-box__text {
      height: 50px;
      width: 100%;
      margin-right: 6px;
      padding: 0 40px 0 10px;
      color: #434a54;
      border-style: none;
    }

    .submit-btn{
      width: 100px;
      height: 50px;
      padding: 0 30px;
      background-color: #38aef0;
      color: white;
      cursor: pointer;
    }
   }
}